
	body {
		background-color:rgb(32,28,28);
		color:rgb(169,169,169) ;
		font-family: sans-serif;

	}

	#idol-selector {
		display: grid;
		grid-template-columns: repeat(5,100px);
		justify-content: center;
	}
	
	.idol-select {
		width: 100%;
	}

	.song-select {
		width: 100%;
		background: pink;
	}

	#song-submit {
		display: grid;
		grid-template-columns: 400px 100px;
		justify-content: center;
	}

	#Go{
		width: 100%;
		background: #90ee90;
	}

	img {
	width: 100%;
	}

