
	body {
		background-color:rgb(32,28,28);
		color:rgb(169,169,169) ;
		font-family: sans-serif;

	}

	#idol-selector {
		display: grid;
		grid-template-columns: repeat(5,100px);
		column-gap: -20px;
		justify-content: center;
	}
	
	.originalDiv{
		height: 30px;
		display: flex;
		align-items: center; 
		justify-content: center;
		background-color:gray;
		color:#222222;
		font-size: 14px;
		
	}
	/*
	#originalDiv2{
		background-color: #94cafc;
	}
	#originalDiv3{
		background-color:#fc94af;
	}
	#originalDiv4{
		background-color: #fcee94;
	}
	*/

	.idol-select {
		width: 100%;
	}

	.song-select {
		width: 100%;
		background: pink;
	}

	#song-submit {
		display: grid;
		grid-template-columns: 400px 100px;
		justify-content: center;
	}

	#Go{
		width: 100%;
		background: #90ee90;
	}

	.images{
		padding: 0px;
	}

	img {
	width: 100%;
	}

